In [2]:
import pandas as pd

In [3]:
path = 'en_climate_monthly_ON_615HMAK_1986-2015_P1M.csv'

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-01,1986,1,NaN,M,NaN,...,NaN,M,NaN,M,NaN,M,NaN,M,NaN,M
1,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-02,1986,2,NaN,M,NaN,...,NaN,M,NaN,M,NaN,M,NaN,M,NaN,M
2,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-03,1986,3,NaN,M,NaN,...,NaN,M,NaN,M,NaN,M,NaN,M,NaN,M
3,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-04,1986,4,NaN,M,NaN,...,NaN,M,NaN,M,NaN,M,NaN,M,NaN,M
4,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-05,1986,5,NaN,M,NaN,...,NaN,M,NaN,M,0.0,NaN,NaN,M,NaN,M

In [6]:
df['Month'] = df['Month'].apply(lambda x: pd.to_datetime(str(x), format='%m').strftime('%b'))

In [7]:
df_temp = df.pivot(index='Year', columns='Month', values='Mean Temp (°C)')

In [8]:
months_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
df_temp = df_temp[months_order]

In [9]:
df_temp = df_temp.reset_index().rename_axis(None, axis=1)

In [10]:
df_temp.head()

   Year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug   Sep  Oct  Nov   Dec
0  1986  NaN  NaN  NaN  NaN   NaN  16.5  20.6  17.9  14.2  8.0  0.9  -1.8
1  1987 -5.6 -7.0  1.4  8.6  14.2  18.7  22.0  18.9  14.8  6.2  2.1  -1.2
2  1988 -5.8 -7.9 -1.7  5.6  13.7  17.4  22.4  20.5  14.3  6.2  3.9  -3.9
3  1989 -3.5 -7.4 -2.8  4.0  12.6  18.2  21.4  18.9  14.7  9.0  1.1 -11.0
4  1990 -1.9 -4.3  0.3  8.0  11.5  18.5  20.8  20.2  14.9  8.9  3.9  -1.8

In [11]:
# Drop duplicated rows
df_clean_temp = df_temp.drop_duplicates()

# Drop rows with missing values
df_clean_temp = df_temp.dropna()

df_clean_temp

    Year   Jan  Feb  Mar   Apr   May   Jun   Jul   Aug   Sep   Oct  Nov   Dec
1   1987  -5.6 -7.0  1.4   8.6  14.2  18.7  22.0  18.9  14.8   6.2  2.1  -1.2
2   1988  -5.8 -7.9 -1.7   5.6  13.7  17.4  22.4  20.5  14.3   6.2  3.9  -3.9
3   1989  -3.5 -7.4 -2.8   4.0  12.6  18.2  21.4  18.9  14.7   9.0  1.1 -11.0
4   1990  -1.9 -4.3  0.3   8.0  11.5  18.5  20.8  20.2  14.9   8.9  3.9  -1.8
5   1991  -6.7 -3.2  1.0   8.3  16.1  20.1  21.7  21.3  14.6   9.8  2.0  -3.2
6   1992  -5.1 -5.1 -1.7   5.1  12.2  16.4  17.7  17.7  14.6   6.9  2.4  -2.5
7   1993  -4.3 -9.5 -2.5   6.3  12.3  17.3  21.4  21.1  13.6   7.3  2.3  -3.5
8   1994 -13.5 -9.3 -1.1   6.8  11.5  19.1  21.2  18.6  15.8   9.3  4.8  -1.1
9   1995  -4.0 -8.4  1.4   3.7  13.0  19.8  21.3  21.5  13.6  10.1  0.4  -6.0
10  1996  -7.4 -6.7 -3.4   3.5  11.4  18.6  19.6  20.4  16.3   8.6  0.5  -0.7
11  1997  -6.8 -4.3 -2.1   5.7   8.9  19.5  20.1  18.2  15.3   8.5  1.6  -1.9
12  1998  -3.4 -1.3  1.2   7.9  16.8  18.7  21.3  21.3  17.5  10.0  4.1  -0.2
13  1999  -7.4 -2.6 -0.4   7.8  15.0  19.5  22.9  19.2  16.7   9.3  4.6  -2.0
14  2000  -6.9 -4.0  3.3   5.9  13.5  17.2  19.5  19.4  14.7   9.8  2.6  -8.2
15  2001  -5.3 -4.6 -1.4   7.6  14.2  19.3  20.0  22.4  15.8   9.8  6.3   0.9
16  2002  -1.0 -2.5 -0.2   6.7  10.7  18.8  23.4  21.2  19.0   8.1  2.4  -2.8
17  2003  -9.4 -8.2 -1.8   5.0  12.1  18.4  21.2  21.6  16.1   8.4  4.1  -0.7
18  2004 -10.5 -4.8  1.8   6.3  12.8  17.0  20.3  18.8  17.6   9.9  4.3  -3.7
19  2005  -7.9 -4.9 -2.1   7.3  11.4  21.9  23.4  21.9  18.1  10.5  4.4  -4.1
20  2006  -1.0 -4.8  0.5   7.9  13.7  19.2  22.9  20.7  15.1   8.3  4.9   1.3
21  2007  -3.7 -8.8 -0.4   5.8  14.0  20.0  20.7  21.6  17.3  13.0  2.0  -3.6
22  2008  -2.9 -5.8 -2.7   9.0  11.6  19.4  21.4  19.5  16.2   8.3  2.3  -3.7
23  2009 -10.0 -4.3  0.3   7.3  12.8  17.2  18.8  20.2  16.1   8.0  5.3  -3.1
24  2010  -6.1 -4.1  4.2  10.3  15.7  18.8  23.0  21.5  15.6   9.6  3.9  -4.7
25  2011  -7.8 -6.0 -1.0   6.8  14.0  18.8  23.7  21.3  17.2  10.1  6.0   0.0
26  2012  -2.7 -1.3  6.2   6.8  15.9  20.2  23.5  20.8  15.6   9.9  3.1   1.2
27  2013  -3.0 -5.6 -0.3   5.8  14.6  18.6  21.8  20.2  15.3  10.4  1.5  -5.0
28  2014  -9.3 -9.2 -4.8   5.9  13.9  19.3  19.6  19.5  15.9  10.4  1.7  -0.6

In [13]:
df_temp.to_csv("Mean Temperature (1986-2015).csv")

In [14]:
df_prec = df.pivot(index='Year', columns='Month', values='Total Precip (mm)')

In [15]:
df_prec = df_prec[months_order]

In [16]:
df_prec = df_prec.reset_index().rename_axis(None, axis=1)

In [17]:
df_prec.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1986,NaN,NaN,NaN,NaN,NaN,130.4,77.9,230.4,213.8,54.9,40.3,83.7
1,1987,53.1,20.9,67.3,42.6,57.4,81.0,90.2,82.8,82.6,51.0,118.9,75.4
2,1988,33.3,63.6,24.5,63.3,62.5,32.9,52.6,40.1,93.5,91.9,67.0,51.2
3,1989,24.4,31.6,42.0,38.6,100.5,82.6,36.9,97.3,89.2,96.7,102.2,33.6
4,1990,45.0,91.2,45.4,64.7,71.1,105.3,59.6,86.4,53.1,118.9,62.6,117.6

In [18]:
# Drop duplicated rows
df_clean_precip = df_prec.drop_duplicates()

# Drop rows with missing values
df_clean_precip = df_prec.dropna()

df_clean_precip

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,1987,53.1,20.9,67.3,42.6,57.4,81.0,90.2,82.8,82.6,51.0,118.9,75.4
2,1988,33.3,63.6,24.5,63.3,62.5,32.9,52.6,40.1,93.5,91.9,67.0,51.2
3,1989,24.4,31.6,42.0,38.6,100.5,82.6,36.9,97.3,89.2,96.7,102.2,33.6
4,1990,45.0,91.2,45.4,64.7,71.1,105.3,59.6,86.4,53.1,118.9,62.6,117.6
5,1991,45.0,26.4,115.9,118.4,74.7,22.8,76.5,56.0,45.9,57.8,62.2,50.2
6,1992,37.4,59.2,35.3,116.0,65.7,58.2,150.4,157.2,112.7,68.8,125.2,78.8
7,1993,82.9,39.8,23.1,97.7,50.0,158.4,69.3,44.3,52.5,77.3,73.7,29.7
8,1994,67.2,24.8,55.4,81.7,75.4,59.7,103.8,46.7,58.0,24.1,104.8,52.8
9,1995,122.8,20.6,57.3,79.8,83.8,43.6,91.6,68.8,38.3,145.4,144.5,42.5
10,1996,74.6,44.6,46.1,93.8,121.7,99.6,119.5,62.8,167.6,75.3,32.8,95.5
11,1997,71.5,84.2,79.4,32.4,75.0,78.7,71.8,74.4,66.8,37.0,58.1,32.6
12,1998,92.6,54.0,100.9,64.6,47.9,60.8,51.6,84.3,42.8,24.4,46.2,63.7
13,1999,141.2,33.6,32.3,55.3,48.0,89.2,61.4,69.7,104.4,77.0,80.9,35.0
14,2000,34.7,52.8,34.3,88.7,150.0,167.0,126.4,70.6,69.9,24.0,58.8,97.9
15,2001,40.1,66.2,27.7,28.9,95.0,61.0,47.0,42.5,66.2,122.0,101.7,46.5
16,2002,60.0,40.2,68.4,102.6,83.1,42.6,104.6,33.0,76.2,57.1,64.4,28.2
17,2003,41.3,47.2,64.8,69.6,136.6,75.9,41.9,63.6,115.1,60.6,133.8,63.9
18,2004,52.0,28.6,61.1,79.3,92.1,53.4,108.6,57.0,24.6,29.2,68.6,87.8
19,2005,68.0,75.4,31.0,92.0,33.4,51.6,31.5,102.9,87.0,38.9,100.9,62.8
20,2006,78.6,91.0,53.2,86.0,84.4,61.2,75.6,37.7,107.2,127.0,72.0,70.1
21,2007,56.6,28.0,35.4,60.4,63.0,28.4,47.6,27.2,43.2,39.0,88.2,104.0
22,2008,68.3,92.8,72.4,55.6,75.1,125.6,91.7,70.6,106.7,53.3,83.5,121.6
23,2009,65.6,72.6,69.4,137.1,100.8,70.9,110.2,107.6,47.0,78.2,38.8,77.3
24,2010,33.1,21.4,54.2,29.8,63.2,228.6,76.6,91.4,79.6,70.2,71.0,39.0
25,2011,42.8,47.2,112.9,91.7,123.0,96.2,50.7,79.9,94.4,101.6,91.2,50.4
26,2012,59.2,39.0,24.0,42.6,37.2,99.0,138.4,83.8,180.4,110.5,19.0,45.6
27,2013,68.0,93.4,21.4,99.0,80.9,166.6,102.4,98.6,79.2,102.0,43.6,71.6
28,2014,53.8,57.4,35.4,89.0,59.8,102.4,159.8,94.6,128.4,93.9,50.6,37.8

In [19]:
df_temp.to_csv("Total Precipitation (1986-2015).csv")