In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

23/06/06 19:28:22 WARN Utils: Your hostname, Ayokunles-MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 192.168.2.125 instead (on interface en0)
23/06/06 19:28:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/06 19:28:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/06 19:28:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
from pyspark import SparkFiles

23/06/06 19:28:34 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
options = {
    "header": "true",                    
    "ignoreLeadingWhiteSpace": "true"     
}

In [9]:
df = spark.read \
    .option("header", options["header"]) \
    .option("ignoreLeadingWhiteSpace", options["ignoreLeadingWhiteSpace"]) \
    .csv("Resources/billy.csv")

In [10]:
df.show()

23/06/06 19:29:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.40|       43.67|     TORONTO|   6158350|  1840-01|1840|   01|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-02|1840|   02|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-03|1840|   03|               5.2|              null|              -2.9|              null|           1.2|          null|              null|                 M|              null|                 M|           41.1|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-04|1840|   04|              11.1|              null|               2.3|              null|           6.7|          null|              null|                 M|              null|                 M|           87.9|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-05|1840|   05|              17.2|              null|               7.6|              null|          12.4|          null|              24.4|                 S|              -0.6|              null|          105.7|           null|            0.0|           null|            105.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-06|1840|   06|              20.7|              null|              10.8|              null|          15.8|          null|              26.7|              null|               2.8|              null|          123.4|           null|            0.0|           null|            123.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-07|1840|   07|              24.4|              null|              14.5|              null|          19.5|          null|              27.8|                 S|               8.3|              null|          134.4|           null|            0.0|           null|            134.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-08|1840|   08|              23.8|              null|              14.1|              null|          19.0|          null|              27.8|                 S|               8.9|                 S|           73.9|           null|            0.0|           null|             73.9|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-09|1840|   09|              17.9|              null|               7.2|              null|          12.6|          null|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-10|1840|   10|              12.6|              null|               2.2|              null|           7.4|          null|              22.8|                 S|              -5.0|              null|           48.0|           null|            0.0|              T|             48.0|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-11|1840|   11|               5.6|              null|              -1.5|              null|           2.1|          null|              13.9|              null|              -9.4|              null|           31.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-12|1840|   12|              -1.0|              null|              -8.8|              null|          -4.9|          null|               5.6|              null|             -22.8|              null|            0.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-01|1841|   01|              -0.6|              null|              -8.3|              null|          -4.5|          null|               5.6|              null|             -21.1|              null|           54.6|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-02|1841|   02|              -1.2|              null|              -9.7|              null|          -5.5|          null|               6.7|              null|             -18.3|              null|            0.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-03|1841|   03|               2.2|              null|              -6.7|              null|          -2.3|          null|              12.8|              null|             -16.7|              null|           29.5|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-04|1841|   04|               8.8|              null|              -0.2|              null|           4.3|          null|              18.3|              null|              -6.7|              null|           34.5|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-05|1841|   05|              16.6|              null|               5.3|              null|          11.0|          null|              25.6|                 S|              -2.8|                 S|           59.4|           null|            0.0|           null|             59.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-06|1841|   06|              25.3|              null|              13.4|              null|          19.4|          null|              33.9|              null|               7.2|              null|           39.1|           null|            0.0|           null|             39.1|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-07|1841|   07|              25.8|              null|              12.6|              null|          19.2|          null|              31.7|                 S|               4.4|              null|          206.8|           null|            0.0|           null|            206.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-08|1841|   08|              24.2|              null|              13.1|              null|          18.7|          null|              29.4|              null|               7.8|                 S|          156.7|           null|            0.0|           null|            156.7|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [11]:
df.createOrReplaceTempView("my_table")
result = spark.sql("SELECT * FROM my_table")

In [12]:
result.show()

+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.40|       43.67|     TORONTO|   6158350|  1840-01|1840|   01|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-02|1840|   02|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-03|1840|   03|               5.2|              null|              -2.9|              null|           1.2|          null|              null|                 M|              null|                 M|           41.1|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-04|1840|   04|              11.1|              null|               2.3|              null|           6.7|          null|              null|                 M|              null|                 M|           87.9|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-05|1840|   05|              17.2|              null|               7.6|              null|          12.4|          null|              24.4|                 S|              -0.6|              null|          105.7|           null|            0.0|           null|            105.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-06|1840|   06|              20.7|              null|              10.8|              null|          15.8|          null|              26.7|              null|               2.8|              null|          123.4|           null|            0.0|           null|            123.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-07|1840|   07|              24.4|              null|              14.5|              null|          19.5|          null|              27.8|                 S|               8.3|              null|          134.4|           null|            0.0|           null|            134.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-08|1840|   08|              23.8|              null|              14.1|              null|          19.0|          null|              27.8|                 S|               8.9|                 S|           73.9|           null|            0.0|           null|             73.9|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-09|1840|   09|              17.9|              null|               7.2|              null|          12.6|          null|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-10|1840|   10|              12.6|              null|               2.2|              null|           7.4|          null|              22.8|                 S|              -5.0|              null|           48.0|           null|            0.0|              T|             48.0|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-11|1840|   11|               5.6|              null|              -1.5|              null|           2.1|          null|              13.9|              null|              -9.4|              null|           31.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1840-12|1840|   12|              -1.0|              null|              -8.8|              null|          -4.9|          null|               5.6|              null|             -22.8|              null|            0.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-01|1841|   01|              -0.6|              null|              -8.3|              null|          -4.5|          null|               5.6|              null|             -21.1|              null|           54.6|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-02|1841|   02|              -1.2|              null|              -9.7|              null|          -5.5|          null|               6.7|              null|             -18.3|              null|            0.0|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-03|1841|   03|               2.2|              null|              -6.7|              null|          -2.3|          null|              12.8|              null|             -16.7|              null|           29.5|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-04|1841|   04|               8.8|              null|              -0.2|              null|           4.3|          null|              18.3|              null|              -6.7|              null|           34.5|           null|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-05|1841|   05|              16.6|              null|               5.3|              null|          11.0|          null|              25.6|                 S|              -2.8|                 S|           59.4|           null|            0.0|           null|             59.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-06|1841|   06|              25.3|              null|              13.4|              null|          19.4|          null|              33.9|              null|               7.2|              null|           39.1|           null|            0.0|           null|             39.1|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-07|1841|   07|              25.8|              null|              12.6|              null|          19.2|          null|              31.7|                 S|               4.4|              null|          206.8|           null|            0.0|           null|            206.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.40|       43.67|     TORONTO|   6158350|  1841-08|1841|   08|              24.2|              null|              13.1|              null|          18.7|          null|              29.4|              null|               7.8|                 S|          156.7|           null|            0.0|           null|            156.7|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [13]:
df.columns

['Longitude (x)',
 'Latitude (y)',
 'Station Name',
 'Climate ID',
 'Date/Time',
 'Year',
 'Month',
 'Mean Max Temp (°C)',
 'Mean Max Temp Flag',
 'Mean Min Temp (°C)',
 'Mean Min Temp Flag',
 'Mean Temp (°C)',
 'Mean Temp Flag',
 'Extr Max Temp (°C)',
 'Extr Max Temp Flag',
 'Extr Min Temp (°C)',
 'Extr Min Temp Flag',
 'Total Rain (mm)',
 'Total Rain Flag',
 'Total Snow (cm)',
 'Total Snow Flag',
 'Total Precip (mm)',
 'Total Precip Flag',
 'Snow Grnd Last Day (cm)',
 'Snow Grnd Last Day Flag',
 "Dir of Max Gust (10's deg)",
 'Dir of Max Gust Flag',
 'Spd of Max Gust (km/h)',
 'Spd of Max Gust Flag']

In [14]:
df.dtypes

[('Longitude (x)', 'string'),
 ('Latitude (y)', 'string'),
 ('Station Name', 'string'),
 ('Climate ID', 'string'),
 ('Date/Time', 'string'),
 ('Year', 'string'),
 ('Month', 'string'),
 ('Mean Max Temp (°C)', 'string'),
 ('Mean Max Temp Flag', 'string'),
 ('Mean Min Temp (°C)', 'string'),
 ('Mean Min Temp Flag', 'string'),
 ('Mean Temp (°C)', 'string'),
 ('Mean Temp Flag', 'string'),
 ('Extr Max Temp (°C)', 'string'),
 ('Extr Max Temp Flag', 'string'),
 ('Extr Min Temp (°C)', 'string'),
 ('Extr Min Temp Flag', 'string'),
 ('Total Rain (mm)', 'string'),
 ('Total Rain Flag', 'string'),
 ('Total Snow (cm)', 'string'),
 ('Total Snow Flag', 'string'),
 ('Total Precip (mm)', 'string'),
 ('Total Precip Flag', 'string'),
 ('Snow Grnd Last Day (cm)', 'string'),
 ('Snow Grnd Last Day Flag', 'string'),
 ("Dir of Max Gust (10's deg)", 'string'),
 ('Dir of Max Gust Flag', 'string'),
 ('Spd of Max Gust (km/h)', 'string'),
 ('Spd of Max Gust Flag', 'string')]

In [15]:
import pandas as pd
pandas_df = df.toPandas()

In [16]:
pandas_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.40,43.67,TORONTO,6158350,1840-01,1840,01,None,M,None,...,None,M,None,M,None,None,None,None,None,None
1,-79.40,43.67,TORONTO,6158350,1840-02,1840,02,None,M,None,...,None,M,None,M,None,None,None,None,None,None
2,-79.40,43.67,TORONTO,6158350,1840-03,1840,03,5.2,None,-2.9,...,None,M,None,M,None,None,None,None,None,None
3,-79.40,43.67,TORONTO,6158350,1840-04,1840,04,11.1,None,2.3,...,None,M,None,M,None,None,None,None,None,None
4,-79.40,43.67,TORONTO,6158350,1840-05,1840,05,17.2,None,7.6,...,0.0,None,105.7,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,-79.40,43.67,TORONTO,6158350,2006-08,2006,08,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2000,-79.40,43.67,TORONTO,6158350,2006-09,2006,09,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2001,-79.40,43.67,TORONTO,6158350,2006-10,2006,10,None,None,None,...,0.0,T,95.3,I,0,None,None,None,None,None
2002,-79.40,43.67,TORONTO,6158350,2006-11,2006,11,None,None,None,...,0.0,T,98.0,None,0,None,None,None,None,None
2003,-79.40,43.67,TORONTO,6158350,2006-12,2006,12,None,None,None,...,0.8,None,55.1,None,0,None,None,None,None,None

In [17]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                         object
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [18]:
pandas_df['Month'] = pandas_df['Month'].astype(int)

In [19]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                          int64
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [20]:
new_temp_columns = ['Year','Month','Mean Temp (°C)', 'Date/Time']

# Display df with columns
df_temp = pandas_df[new_temp_columns]


df_temp

      Year  Month Mean Temp (°C) Date/Time
0     1840      1           None   1840-01
1     1840      2           None   1840-02
2     1840      3            1.2   1840-03
3     1840      4            6.7   1840-04
4     1840      5           12.4   1840-05
...    ...    ...            ...       ...
1999  2006      8           None   2006-08
2000  2006      9           None   2006-09
2001  2006     10           None   2006-10
2002  2006     11           None   2006-11
2003  2006     12           None   2006-12

[2004 rows x 4 columns]

In [21]:
# Create a dictory that maps that month names to the month numbers 
month_map = {1: 'JAN',
             2: 'FEB',
             3: 'MAR',
             4: 'APR',
             5: 'MAY',
             6: 'JUN',
             7: 'JUL',
             8: 'AUG',
             9: 'SEP',
             10:'OCT',
             11:'NOV',
             12:'DEC'}

df_temp['Month'] = df_temp['Month'].map(month_map)

df_temp

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7230/1768052942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Month'] = df_temp['Month'].map(month_map)

      Year Month Mean Temp (°C) Date/Time
0     1840   JAN           None   1840-01
1     1840   FEB           None   1840-02
2     1840   MAR            1.2   1840-03
3     1840   APR            6.7   1840-04
4     1840   MAY           12.4   1840-05
...    ...   ...            ...       ...
1999  2006   AUG           None   2006-08
2000  2006   SEP           None   2006-09
2001  2006   OCT           None   2006-10
2002  2006   NOV           None   2006-11
2003  2006   DEC           None   2006-12

[2004 rows x 4 columns]

In [22]:
# Drop duplicated rows
df_clean_temp = df_temp.drop_duplicates()

# Drop rows with missing values
df_clean_temp = df_temp.dropna()

#Drop index 
df_clean_temp.reset_index(drop= True)

df_clean_temp

      Year Month Mean Temp (°C) Date/Time
2     1840   MAR            1.2   1840-03
3     1840   APR            6.7   1840-04
4     1840   MAY           12.4   1840-05
5     1840   JUN           15.8   1840-06
6     1840   JUL           19.5   1840-07
...    ...   ...            ...       ...
1957  2003   FEB           -5.1   2003-02
1958  2003   MAR            0.9   2003-03
1959  2003   APR            6.2   2003-04
1960  2003   MAY           13.1   2003-05
1961  2003   JUN           18.7   2003-06

[1960 rows x 4 columns]

In [23]:
#year to int 
#mean temp to float

In [24]:
df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7230/2386592659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

In [25]:
df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7230/3587410896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

In [26]:
df_clean_temp.dtypes

Year                int64
Month              object
Mean Temp (°C)    float64
Date/Time          object
dtype: object

In [27]:
df_clean_temp

      Year Month  Mean Temp (°C) Date/Time
2     1840   MAR             1.2   1840-03
3     1840   APR             6.7   1840-04
4     1840   MAY            12.4   1840-05
5     1840   JUN            15.8   1840-06
6     1840   JUL            19.5   1840-07
...    ...   ...             ...       ...
1957  2003   FEB            -5.1   2003-02
1958  2003   MAR             0.9   2003-03
1959  2003   APR             6.2   2003-04
1960  2003   MAY            13.1   2003-05
1961  2003   JUN            18.7   2003-06

[1960 rows x 4 columns]

In [37]:
#save output 
df_temp.to_csv("Resources/Cleaned_Billy.csv")